.checkout {
    display: flex;
    flex-direction: column;
    justify-content: center;
    border: 1px solid black;
}

.checkout_ad {
    border: 1px solid black;
    display: flex;
    align-self: center;
    width: 50%;
    margin-bottom: 10px;
}