.header {
    background-color: #131921;
    display: flex;
    align-items: center;
    position: sticky;
    top: 0;
    /* By using z-index no other content will overlap */
    z-index: 100;


}

.header__logo {
    width: 80px;
    margin: 10px 20px 0px 20px;
    object-fit: contain;
}

.header__searchInput {
    width: auto;
}

.header__search {
    display: flex;
    flex: 1
}

.header__searchInput {
    height: 12px;
    padding: 10px;
    border: none;
    width: 100%;
}

.header__searchIcon {
    height: 22px !important;
    padding: 5px;
    background-color: #cd9042;
}

.header__nav {
    display: flex;
    justify-content: space-evenly;
}

.header__link {
    color: #ffffff;
    text-decoration: none;
    margin-left: 10px;
    margin-right: 10px;
}

.header__option {
    display: flex;
    flex-direction: column;
}

.header__optionLineOne {
    font-size: 10px;

}

.header__optionLineTwo {
    font-size: 13px;
    font-weight: bold;

}

.header__optionBasket {
    display: flex;
    align-items: center;
}

.header__basketCount {
    margin-left: 5px;
    margin-right: 5px;
}