.header {
    background-color: #131921;
    display: flex;
    align-items: center;
    position: sticky;
    top: 0;
    /* By using z-index no other content will overlap */
    z-index: 100;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;


}

.header__logo {
    width: 70px;
    margin: 10px 20px 0px 20px;
    object-fit: contain;


}

.header__searchInput {
    width: auto;
}

.header__search {
    display: flex;
    flex: 1
}

.header__searchInput {
    height: 12px;
    padding: 10px;
    border: none;
    width: 100%;
}

.header__searchIcon {
    height: 22px !important;
    padding: 5px;
    background-color: #cd9042;
}

.header__nav {
    display: flex;
    justify-content: space-evenly;
}

.header__link {
    color: #ffffff;
    text-decoration: none;
    margin-left: 10px;
    margin-right: 10px;
}

.header__option {
    display: flex;
    flex-direction: column;
}

.header__optionLineOne {
    font-size: 10px;

}

.header__optionLineTwo {
    font-size: 13px;
    font-weight: bold;

}

.header__optionBasket {
    display: flex;
    align-items: center;

}

.header__basketCount {
    margin-left: 5px;
    margin-right: 5px;
}


@media (max-width: 767px) {
    .header__logo {
        width: 70px;
        margin: 10px 20px 0px 20px;
        object-fit: contain;

    }

    .header__searchInput {
        height: 8px;
        padding: 10px;
        border: none;
        width: 80%;
    }

    .header__searchIcon {
        height: 19px !important;
        padding: 5px;
        background-color: #cd9042;
    }

}

@media (max-width: 400px) {
    .header__logo {
        width: 50px;
        margin: 8px 8px 0px 8px;
        object-fit: contain;

    }

    .header__searchInput {
        height: 8px;
        padding: 10px;
        border: none;
        width: 80%;
    }

    .header__searchIcon {
        height: 19px !important;
        padding: 5px;
        background-color: #cd9042;
    }

    .header__cartIcon{
        height: 19px !important;
        
    }
    .header__basketCount{
        font-size: 12px;
    }
    .header__optionLineOne {
        font-size: 9px;
    
    }
    
    .header__optionLineTwo {
        font-size: 11px;
        font-weight: bold;
    
    }

}