.header {
    background-color: #131921;
    display: flex;
    align-items: center;

}

.header__logo {
    width: 100px;
    margin: 10px 20px 0px 20px;
    object-fit: contain;
}

.header__searchInput {
    width: auto;
}

.header__search {
    display: flex;
    flex:1
}

.header__searchInput {
    height: 12px;
    padding: 10px;
    border: none;
    width: 100%;
}

.header__searchIcon {
    height: 22px !important;
    padding: 5px;
    background-color: #cd9042;
}