.login {

    background-color: #fff;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.login_logo {
    width: 100px;
    object-fit: content;
}

.login_container {
    width: 300px;
    display: flex;
    flex-direction: column;
    padding: 20px;
    border: 1px solid lightgrey;

}

.login_container>h1 {
    font-weight: 500;
    margin-bottom: 20px;

}

.login_container>form>h5 {
    font-weight: 700;
    margin-bottom: 6px;

}

.login_container>form>input {

    height: 25px;
    margin-bottom: 10px;
    background-color: #ffffff;
    width: 100%;
}

.login_checkbox>p {

    font-size: 14px;
    margin-top: 15px;

}



.login_checkbox {
    display: flex;
    align-items: center;
}

.login_checkbox>input {
    margin-right: 1vh;
}



.login_signIn {
    background-color: #f0c14b;
    border: 1px solid;
    border-color: #a88734 #9c7e31 #846a29;
    width: 100%;
    border-radius: 2px;
    margin: 10px 0px 5px 0px;
    padding: 5px 0px 5px 0px
}

.signUp {

    border: 1px solid;
    width: 100%;
    border-radius: 2px;
    margin: 10px 0px 5px 0px;
    padding: 5px 0px 5px 0px
}